{% if object %}
    <div class="row">
        {% with object_summary=object.get_summary %}
            <div class="col-lg-6">
                <div class="h4 ">Заказ №{{ object.pk }} от {{ object.created|date:"Y-m-d H:i:s" }}</div>
                <div class="h4">Обновлен: {{ object.updated|date:"Y-m-d H:i:s" }}</div>
                <div class="h4">
                    Количество товаров: <span class="order_total_quantity">{{ object_summary.total_quantity }}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="h4">Заказчик: {{ user.last_name }} {{ user.first_name }}</div>
                <div class="h4">Статус: {{ object.get_status_display }}</div>
                <div class="h4">
                    Стоимость:
                    <span class="badge badge-secondary">
                    <span class="order_total_cost">
                        {{ object_summary.total_cost }}
                    </span>
                    &nbsp;руб.
                </span>
                </div>
            </div>
        {% endwith %}
    </div>
{% else %}
    <div class="h2">Новый заказ</div>
    <hr>
    <div class="h4">Заказчик: {{ user.first_name }} {{ user.last_name }} </div>
    <div class="h4">
        Количество товаров: <span class="order_total_quantity">{{ object_summary.total_quantity|default:0 }}</span>
    </div>
    <div class="h4">
        Стоимость:
        <span class="badge badge-secondary">
            <span class="order_total_cost">
                {{ object_summary.total_cost|default:0 }}
            </span>
            &nbsp;руб.
        </span>
    </div>
{% endif %}