{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/profile-orders.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-3 mb-4">
            <div class="card-header">
                {% include 'ordersapp/includes/inc_order_summary.html' %}
            </div>
            <div class="card-body">
                <h3 class="mb-4">Товары</h3>
                {% for orderitem in object.orderitem.select_related %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{ orderitem.product.name | capfirst }}</a>
                                </h4>
                            </div>
                            <div class="card-footer">
                                <h5>{{ orderitem.product.price | floatformat:2 }}&nbsp;руб. *
                                    {{ orderitem.quantity }}&nbsp;шт.
                                    =
                                    <span class="badge badge-secondary">{{ orderitem.get_product_cost }}&nbsp;руб.</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                {% include 'ordersapp/includes/inc_order_actions.html' %}
            </div>
        </div>
    </div>
{% endblock %}